Repository dzbrozek/shopping-cart-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: migrations-check, mypy-check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/seed-isort-config
  rev: v2.2.0
  hooks:
    - id: seed-isort-config
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.3.2
  hooks:
    - id: isort
- repo: https://github.com/ambv/black
  rev: 19.10b0
  hooks:
    - id: black
      language_version: python3.8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
    - id: flake8
- repo: https://github.com/PyCQA/bandit
  rev: 1.6.2
  hooks:
    - id: bandit
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v3.0.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/config-conventional']
- repo: local
  hooks:
    - id: hadolint
      name: Hadolint
      description: Lint Docker image
      language: docker_image
      types:
        - dockerfile
      entry: --entrypoint /bin/hadolint hadolint/hadolint:latest -
- repo: local
  hooks:
    - id: migrations-check
      language: system
      name: Check for uncreated migrations
      entry: make managepy arguments="makemigrations --check --dry-run"
      files: "models\\.py$"
      stages: [commit]
      require_serial: true
- repo: local
  hooks:
    - id: mypy-check
      language: system
      name: Check for mypy
      entry: make mypy
      stages: [commit]
      files: ".+\\.py$"
      require_serial: true

ci: added github actions
  .github/workflows/lint.yml
  Makefile
  docs/CI.md
  requirements/base.txt
Due: none

ci: testing commit lint
  .github/workflows/lint.yml
Due: none

ci: added github actions (#1)
  .github/workflows/lint.yml
  Makefile
  docs/CI.md
  requirements/base.txt
Due: none

docs: added more details to docs
  README.md
Due: none

docs: added more details to docs (#2)
  README.md
Due: none

feat: registered models in django admin
  shoppingcart/baskets/admin.py
  shoppingcart/products/admin.py
  shoppingcart/users/admin.py
Due: mypy-check

feat: registered models in django admin (#4)
  shoppingcart/baskets/admin.py
  shoppingcart/products/admin.py
  shoppingcart/users/admin.py
Due: mypy-check

chore: updated fixtures
  README.md
  docker-compose.yml
  fixtures/baskets.basket.json
  fixtures/baskets.basketproductrelation.json
  fixtures/products.product.json
  fixtures/users.user.json
  media/products/product/emerald.png
  media/products/product/round.png
  media/products/product/trilliant.png
  shoppingcart/baskets/views.py
  shoppingcart/users/admin.py
  shoppingcart/users/forms.py
Due: mypy-check

chore: updated fixtures (#5)
  README.md
  docker-compose.yml
  fixtures/baskets.basket.json
  fixtures/baskets.basketproductrelation.json
  fixtures/products.product.json
  fixtures/users.user.json
  media/products/product/emerald.png
  media/products/product/round.png
  media/products/product/trilliant.png
  shoppingcart/baskets/views.py
  shoppingcart/users/admin.py
  shoppingcart/users/forms.py
Due: mypy-check

refactor: removed camel case browser rendered from default renderers
  shoppingcart/baskets/views.py
  shoppingcart/shoppingcart/settings.py
Due: mypy-check

refactor: removed camel case browser rendered from default renderers (#6)
  shoppingcart/baskets/views.py
  shoppingcart/shoppingcart/settings.py
Due: mypy-check

refactor: refactored browsable api rendered
  shoppingcart/shoppingcart/settings.py
  shoppingcart/utils/render.py
Due: mypy-check

refactor: refactored browsable api rendered (#7)
  shoppingcart/shoppingcart/settings.py
  shoppingcart/utils/render.py
Due: mypy-check

feat: added cart_changes command
  docker-compose.yml
  shoppingcart/baskets/management/__init__.py
  shoppingcart/baskets/management/commands/__init__.py
  shoppingcart/baskets/management/commands/cart_changes.py
  shoppingcart/baskets/models.py
  shoppingcart/baskets/serializers.py
  shoppingcart/baskets/templates/baskets/baskets_changes.txt
  shoppingcart/baskets/tests/test_commands.py
  shoppingcart/baskets/tests/test_views.py
  shoppingcart/baskets/views.py
  shoppingcart/shoppingcart/settings.py
  shoppingcart/utils/runners.py
Due: migrations-check, mypy-check

feat: added cart_changes command (#8)
  docker-compose.yml
  shoppingcart/baskets/management/__init__.py
  shoppingcart/baskets/management/commands/__init__.py
  shoppingcart/baskets/management/commands/cart_changes.py
  shoppingcart/baskets/models.py
  shoppingcart/baskets/serializers.py
  shoppingcart/baskets/templates/baskets/baskets_changes.txt
  shoppingcart/baskets/tests/test_commands.py
  shoppingcart/baskets/tests/test_views.py
  shoppingcart/baskets/views.py
  shoppingcart/shoppingcart/settings.py
  shoppingcart/utils/runners.py
Due: migrations-check, mypy-check

fix: fixed problem with permissions inside docker
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  shoppingcart/shoppingcart/settings.py
Due: mypy-check

fix: fixed problem with permissions inside docker (#9)
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  shoppingcart/shoppingcart/settings.py
Due: mypy-check

fix: fixed the way we collect coverage
  .coveragerc
  .github/workflows/lint.yml
Due: none

chore: added badge
  README.md
Due: none

chore: cleanup
  .coveragerc
  .github/workflows/lint.yml
Due: none

fix: fixed the way we collect coverage (#10)
  .coveragerc
  .github/workflows/lint.yml
  README.md
Due: none

fix: fixed access to products by uuid
  shoppingcart/products/tests/test_views.py
  shoppingcart/products/views.py
Due: mypy-check

fix: fixed access to products by uuid (#11)
  shoppingcart/products/tests/test_views.py
  shoppingcart/products/views.py
Due: mypy-check

fix: preserve basket after logout
  shoppingcart/baskets/tests/test_views.py
  shoppingcart/baskets/views.py
  shoppingcart/shoppingcart/settings.py
  shoppingcart/users/tests/test_views.py
  shoppingcart/users/views.py
  shoppingcart/utils/tests.py
Due: mypy-check

fix: preserve basket after logout (#12)
  shoppingcart/baskets/tests/test_views.py
  shoppingcart/baskets/views.py
  shoppingcart/shoppingcart/settings.py
  shoppingcart/users/tests/test_views.py
  shoppingcart/users/views.py
  shoppingcart/utils/tests.py
Due: mypy-check

fix: added missing CELERY_EMAIL_BACKEND
  shoppingcart/shoppingcart/dev_settings.py
  shoppingcart/shoppingcart/settings.py
Due: mypy-check

fix: added missing CELERY_EMAIL_BACKEND (#13)
  shoppingcart/shoppingcart/dev_settings.py
  shoppingcart/shoppingcart/settings.py
Due: mypy-check

style: changed price formatting in share email
  shoppingcart/baskets/templates/baskets/share_basket.txt
Due: none

style: changed price formatting in share email (#14)
  shoppingcart/baskets/templates/baskets/share_basket.txt
Due: none
